h1 {
    color: #2e7d32;
    margin-bottom: 20px;
    text-align: center;
}

/* Formulário */
form {
    background: white;
    padding: 25px;
    border-radius: 10px;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.card{
    width: 400px;
    margin: 0 auto;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background-color: #388e3c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #1b5e20;
}