.hero{
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;

    background:
    radial-gradient(circle at top left, rgba(193,18,31,.18), transparent 45%),
    radial-gradient(circle at bottom right, rgba(13,43,99,.35), transparent 50%),
    linear-gradient(135deg, #07162f 0%, #0c2550 60%, #122f66 100%);
}

.hero-content{
    max-width: 850px;
    text-align: center;
}

.hero-tag{
    display: inline-block;
    padding: 8px 18px;
    border-radius: 30px;

    background: rgba(255,255,255,.08);
    border: 1px solid rgba(255,255,255,.12);

    color: #ff5864;
    font-size: .95rem;
    font-weight: 500;
    margin-bottom: 25px;
}

.hero h1{
    color: #fff;
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 25px;
}

.hero p{
    color: #d6dce7;
    font-size: 1.15rem;
    line-height: 1.8;
    margin-bottom: 40px;
}

.hero-buttons{
    display: flex;
    justify-content: center;
    gap: 18px;
    flex-wrap: wrap;
}

.btn-primary,
.btn-secondary{
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: 600;
    transition: .3s;
}

.btn-primary{
    background: #c1121f;
    color: white;
    box-shadow: 0 10px 25px rgba(193,18,31,.35);
}

.btn-primary:hover{
    transform: translateY(-4px);
    background: #d61e2c;
}

.btn-secondary{
    border: 2px solid #3d74d8;
    color: white;
}

.btn-secondary:hover{
    background: #3d74d8;
    transform: translateY(-4px);
}
